In [1]:
import pandas as pd
import numpy as np
import re

# Test de Funciones

In [2]:
data = pd.read_csv("test_data.csv")
data

,id,title,audienceScore,tomatoMeter,rating,ratingContents,releaseDateTheaters,releaseDateStreaming,runtimeMinutes,genre,originalLanguage,director,writer,boxOffice,distributor,soundMix
0,space-zombie-bingo,Space Zombie Bingo!,50.0,NaN,NaN,NaN,NaN,2018-08-25,75.0,"Comedy, Horror, Sci-fi",English,George Ormrod,"George Ormrod,John Sabotta",NaN,NaN,NaN
1,the_green_grass,The Green Grass,NaN,NaN,NaN,NaN,NaN,2020-02-11,114.0,Drama,English,Tiffany Edwards,Tiffany Edwards,NaN,NaN,NaN
2,love_lies,"Love, Lies",43.0,NaN,NaN,NaN,NaN,NaN,120.0,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",NaN,NaN,NaN
3,the_sore_losers_1997,Sore Losers,60.0,NaN,NaN,NaN,NaN,2020-10-23,90.0,"Action, Mystery & thriller",English,John Michael McCarthy,John Michael McCarthy,NaN,NaN,NaN
4,dinosaur_island_2002,Dinosaur Island,70.0,NaN,NaN,NaN,NaN,2017-03-27,80.0,"Fantasy, Adventure, Animation",English,Will Meugniot,John Loy,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143253,nadia_the_secret_of_blue_water_the_motion_pict...,Nadia: The Secret of Blue Water: The Motion Pi...,14.0,NaN,NaN,NaN,2002-08-27,NaN,90.0,"Action, Adventure, Anime",Japanese,Sho Aono,Kaoru Umeno,NaN,ADV Films,NaN
143254,everyone_i_knew_and_loved,Everyone I Knew and Loved,NaN,NaN,NaN,NaN,NaN,NaN,99.0,Drama,English,Andrew Behringer,Erika Heidewald,NaN,NaN,NaN
143255,the-human-body,The Human Body,71.0,89.0,NaN,NaN,NaN,NaN,43.0,Documentary,English,Peter Georgi,Richard Dale,NaN,NaN,NaN
143256,flying_fists,Flying Fists,NaN,NaN,NaN,NaN,NaN,2006-11-21,63.0,Drama,English,Robert F. Hill,"Robert F. Hill,Basil Dickey",NaN,NaN,NaN
143257,awakening-2005,Awakening,NaN,NaN,NaN,NaN,NaN,NaN,90.0,Horror,English,David J. Francis,"David J. Francis,Mike Masters",NaN,NaN,NaN

In [3]:
def duplicados(data_frame):
    # Revisar cuantas filas duplicadas hay 
    duplicados = data_frame.duplicated()
    num_duplicados = duplicados.sum()
    print(f'Hay {num_duplicados} filas duplicadas')
    # Eliminamos y confirmamos que no halla  filas duplicadas
    data_frame = data_frame.drop_duplicates()
    duplicados = data_frame.duplicated()
    num_duplicados = duplicados.sum()
    print(f"Ahora hay {num_duplicados} de filas duplicadas")
    return data_frame

In [4]:
duplicados(data)

Hay 1204 filas duplicadas
Ahora hay 0 de filas duplicadas

,id,title,audienceScore,tomatoMeter,rating,ratingContents,releaseDateTheaters,releaseDateStreaming,runtimeMinutes,genre,originalLanguage,director,writer,boxOffice,distributor,soundMix
0,space-zombie-bingo,Space Zombie Bingo!,50.0,NaN,NaN,NaN,NaN,2018-08-25,75.0,"Comedy, Horror, Sci-fi",English,George Ormrod,"George Ormrod,John Sabotta",NaN,NaN,NaN
1,the_green_grass,The Green Grass,NaN,NaN,NaN,NaN,NaN,2020-02-11,114.0,Drama,English,Tiffany Edwards,Tiffany Edwards,NaN,NaN,NaN
2,love_lies,"Love, Lies",43.0,NaN,NaN,NaN,NaN,NaN,120.0,Drama,Korean,"Park Heung-Sik,Heung-Sik Park","Ha Young-Joon,Jeon Yun-su,Song Hye-jin",NaN,NaN,NaN
3,the_sore_losers_1997,Sore Losers,60.0,NaN,NaN,NaN,NaN,2020-10-23,90.0,"Action, Mystery & thriller",English,John Michael McCarthy,John Michael McCarthy,NaN,NaN,NaN
4,dinosaur_island_2002,Dinosaur Island,70.0,NaN,NaN,NaN,NaN,2017-03-27,80.0,"Fantasy, Adventure, Animation",English,Will Meugniot,John Loy,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143253,nadia_the_secret_of_blue_water_the_motion_pict...,Nadia: The Secret of Blue Water: The Motion Pi...,14.0,NaN,NaN,NaN,2002-08-27,NaN,90.0,"Action, Adventure, Anime",Japanese,Sho Aono,Kaoru Umeno,NaN,ADV Films,NaN
143254,everyone_i_knew_and_loved,Everyone I Knew and Loved,NaN,NaN,NaN,NaN,NaN,NaN,99.0,Drama,English,Andrew Behringer,Erika Heidewald,NaN,NaN,NaN
143255,the-human-body,The Human Body,71.0,89.0,NaN,NaN,NaN,NaN,43.0,Documentary,English,Peter Georgi,Richard Dale,NaN,NaN,NaN
143256,flying_fists,Flying Fists,NaN,NaN,NaN,NaN,NaN,2006-11-21,63.0,Drama,English,Robert F. Hill,"Robert F. Hill,Basil Dickey",NaN,NaN,NaN
143257,awakening-2005,Awakening,NaN,NaN,NaN,NaN,NaN,NaN,90.0,Horror,English,David J. Francis,"David J. Francis,Mike Masters",NaN,NaN,NaN

# Base de datos de ANIME

In [5]:
anime = pd.read_csv("anime.csv")
anime_description = pd.read_csv("anime_with_synopsis.csv")

In [6]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,GintamaÂ°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [7]:
anime_description.head()

,MAL_ID,Name,Score,Genres,sypnopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bountyâ€”such is the life of ..."
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...

In [8]:
anime[anime["anime_id"]==1]

,anime_id,name,genre,type,episodes,rating,members
22,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,8.82,486824

In [9]:
anime_description[anime_description["MAL_ID"]==1]

,MAL_ID,Name,Score,Genres,sypnopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."

In [10]:
# Uniendo las bases de datos, utilizando como base el ID de las dos

anime_2 = anime.merge(anime_description, left_on='anime_id', right_on='MAL_ID', how='left')

In [11]:
anime_2

,anime_id,name,genre,type,episodes,rating,members,MAL_ID,Name,Score,Genres,sypnopsis
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,32281.0,Kimi no Na wa.,8.96,"Romance, Supernatural, School, Drama","suha Miyamizu, a high school girl, yearns to l..."
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,5114.0,Fullmetal Alchemist: Brotherhood,9.19,"Action, Military, Adventure, Comedy, Drama, Ma...","""In order for something to be obtained, someth..."
2,28977,GintamaÂ°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,28977.0,GintamaÂ°,9.1,"Action, Comedy, Historical, Parody, Samurai, S...","Gintoki, Shinpachi, and Kagura return as the f..."
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,9253.0,Steins;Gate,9.11,"Thriller, Sci-Fi",The self-proclaimed mad scientist Rintarou Oka...
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,9969.0,Gintama',9.08,"Action, Sci-Fi, Comedy, Historical, Parody, Sa...","fter a one-year hiatus, Shinpachi Shimura retu..."
...,...,...,...,...,...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211,NaN,NaN,NaN,NaN,NaN
12290,5543,Under World,Hentai,OVA,1,4.28,183,NaN,NaN,NaN,NaN,NaN
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219,NaN,NaN,NaN,NaN,NaN
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175,NaN,NaN,NaN,NaN,NaN
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142,NaN,NaN,NaN,NaN,NaN

In [12]:
anime_2["type"].value_counts()

TV         3787
OVA        3311
Movie      2348
Special    1676
ONA         659
Music       488
Name: type, dtype: int64

In [13]:
# No queremos en este caso solo queremos recomendar Anime de varios episodios 

anime_3 = anime_2[anime_2["type"].isin(['TV'])]

In [14]:
anime_3["type"].value_counts()

TV    3787
Name: type, dtype: int64

In [15]:
anime_3["genre"].value_counts()

Comedy                                                    166
Comedy, Slice of Life                                      84
Comedy, Kids                                               68
Kids                                                       61
Comedy, School, Slice of Life                              35
                                                         ...
Comedy, Drama, Sci-Fi                                       1
Action, Comedy, Fantasy, Magic, Mecha, Sci-Fi, Shounen      1
Action, Ecchi, Mecha, Sci-Fi, Super Power                   1
Adventure, Drama, Shounen                                   1
Magic, Military                                             1
Name: genre, Length: 1745, dtype: int64

In [16]:
# Eliminado el genero Hentai 

anime_3["genre"] = anime_3["genre"].fillna("")
anime_df = anime_3[~anime_3["genre"].str.contains("Hentai", regex=True)]

C:\Users\SPARTAN PC\AppData\Local\Temp\ipykernel_1332\504910664.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  anime_3["genre"] = anime_3["genre"].fillna("")

In [17]:
anime_df["genre"].value_counts()

Comedy                                                    166
Comedy, Slice of Life                                      84
Comedy, Kids                                               68
Kids                                                       61
Comedy, School, Slice of Life                              35
                                                         ...
Comedy, Drama, Sci-Fi                                       1
Action, Comedy, Fantasy, Magic, Mecha, Sci-Fi, Shounen      1
Action, Ecchi, Mecha, Sci-Fi, Super Power                   1
Adventure, Drama, Shounen                                   1
Magic, Military                                             1
Name: genre, Length: 1746, dtype: int64

In [18]:
# Eliminando columnas que o estan repetidas o inutiles

anime_df = anime_df.drop(["MAL_ID","Name","Score","Genres","anime_id"], axis=1)

In [19]:
anime_df

,name,genre,type,episodes,rating,members,sypnopsis
1,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,"""In order for something to be obtained, someth..."
2,GintamaÂ°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,"Gintoki, Shinpachi, and Kagura return as the f..."
3,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,The self-proclaimed mad scientist Rintarou Oka...
4,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,"fter a one-year hiatus, Shinpachi Shimura retu..."
5,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351,"fter the victory against Aoba Jousai High, Kar..."
...,...,...,...,...,...,...,...
11104,"Wake Up, Girls! Shin Shou","Drama, Music",TV,Unknown,NaN,381,"""Wake Up, Girls!"" is the story of growth and f..."
11106,Yami Shibai 4th Season,"Dementia, Horror, Supernatural",TV,Unknown,NaN,1838,Excited children gather around the enigmatic m...
11107,Youjo Senki,"Magic, Military",TV,Unknown,NaN,6652,Tanya Degurechaff is a young soldier infamous ...
11110,Yuuki Yuuna wa Yuusha de Aru: Washio Sumi no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,2593,Three girls have been chosen by the great Shin...
11111,Yuuki Yuuna wa Yuusha de Aru: Yuusha no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,4439,Having fulfilled their destiny during the even...

In [20]:
nulls_p = (anime_df.isna().sum()/len(data))*100
nulls_p = nulls_p.reset_index()
nulls_p.columns=["Columna", "Porcentaje"]
nulls_p

     Columna  Porcentaje
0       name    0.000000
1      genre    0.000000
2       type    0.000000
3   episodes    0.000000
4     rating    0.080973
5    members    0.000000
6  sypnopsis    0.004188

In [21]:
# anime_df = anime_df.dropna()

In [22]:
"""nulls_p = (anime_df.isna().sum()/len(data))*100
nulls_p = nulls_p.reset_index()
nulls_p.columns=["Columna", "Porcentaje"]
nulls_p"""

'nulls_p = (anime_df.isna().sum()/len(data))*100\nnulls_p = nulls_p.reset_index()\nnulls_p.columns=["Columna", "Porcentaje"]\nnulls_p'

#  API Wrappers
https://rapidapi.com/brian.rofiq/api/anime-db/

In [23]:
search = anime_df[anime_df['sypnopsis'].isnull()]

In [24]:
search

,name,genre,type,episodes,rating,members,sypnopsis
1128,Tatakae! Chou Robot Seimeitai Transformers,"Adventure, Mecha, Sci-Fi, Shounen",TV,98,7.67,5652,NaN
5217,Mega Man,"Action, Adventure, Comedy",TV,27,6.52,3263,NaN
5762,Rilu Rilu Fairilu: Yousei no Door,"Fantasy, Magic",TV,Unknown,6.36,1293,NaN
8126,Alps no Shoujo Heidi? Chara Onji,"Comedy, Parody",TV,Unknown,6.79,277,NaN
8667,Ginga Shounen Tai,"Action, Adventure, Kids, Space",TV,92,6.38,79,NaN
10754,X Bomber,"Action, Adventure, Kids, Mecha, Sci-Fi, Space",TV,25,5.94,199,NaN

In [25]:
search_names = search["name"]

In [26]:
search_names = search_names.to_numpy().tolist()
search_names

['Tatakae! Chou Robot Seimeitai Transformers',
 'Mega Man',
 'Rilu Rilu Fairilu: Yousei no Door',
 'Alps no Shoujo Heidi? Chara Onji',
 'Ginga Shounen Tai',
 'X Bomber']

In [27]:
def anime_API(animex):
    import requests
    import json
    url = "https://anime-db.p.rapidapi.com/anime"

    querystring = {"page":"1",
                   "size":"1",
                   "search":animex,
                   "sortBy":"ranking",
                   "sortOrder":"asc"}

    headers = {
        "X-RapidAPI-Key": "fc007f78b2mshef468774337c06cp1cbef0jsn32689f2fd1ac",
        "X-RapidAPI-Host": "anime-db.p.rapidapi.com"
    }

    response = requests.get(url, headers=headers, params=querystring)
    search_df = pd.json_normalize(response.json()["data"])
    search_df = search_df[["title","synopsis"]]
    return(search_df)

In [28]:
df_list = []

for i in search_names:
    df = anime_API(i)
    df_list.append(df)  # agrega el data frame a la lista

# combina todos los data frames en uno solo
API_anime_df = pd.concat(df_list, ignore_index=True)

In [29]:
API_anime_df

,title,synopsis
0,Tatakae! Chou Robot Seimeitai Transformers Vic...,Six recap episodes of Tatakae! Chou Robot Seim...
1,One Punch Man 2nd Season,In the wake of defeating Boros and his mighty ...
2,Rilu Rilu Fairilu: Yousei no Door,"""Fairilu"" are fairies of flowers, insects, mer..."
3,Alps no Shoujo Heidi,"After becoming an orphan, Heidi is forced to l..."
4,Silk Road Shounen Yuuto: Toki wo Kakeru Shoune...,Recap episode of Silk Road Shounen Yuuto that ...
5,X,His destiny has finally arrived as the young S...

In [30]:
# Aqui al solo encontrar 2 synopsis de las 6 que queria encontrar, tome la decision de mejor borrar
# estos animes, para no tardar mÃ¡s de lo necesario

anime_df = anime_df.dropna().reset_index(drop=True)
nulls_p = (anime_df.isna().sum()/len(data))*100
nulls_p = nulls_p.reset_index()
nulls_p.columns=["Columna", "Porcentaje"]
nulls_p

     Columna  Porcentaje
0       name         0.0
1      genre         0.0
2       type         0.0
3   episodes         0.0
4     rating         0.0
5    members         0.0
6  sypnopsis         0.0

In [31]:
duplicados(anime_df)

Hay 0 filas duplicadas
Ahora hay 0 de filas duplicadas

,name,genre,type,episodes,rating,members,sypnopsis
0,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,"""In order for something to be obtained, someth..."
1,GintamaÂ°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,"Gintoki, Shinpachi, and Kagura return as the f..."
2,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,The self-proclaimed mad scientist Rintarou Oka...
3,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,"fter a one-year hiatus, Shinpachi Shimura retu..."
4,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351,"fter the victory against Aoba Jousai High, Kar..."
...,...,...,...,...,...,...,...
3660,Zhan Long Si Qu,"Cars, Kids",TV,64,4.80,67,Go for Speed is a Chinese anime about Mini 4wd...
3661,Zinba,"Action, Adventure, Comedy, Demons, Magic, Supe...",TV,52,7.17,172,The juvenile Kan from the earth is summoned to...
3662,Zoobles!,Kids,TV,26,5.57,109,The Candy Factory is a place where all Zoobles...
3663,Zukkoke Knight: Don De La Mancha,"Adventure, Comedy, Historical, Romance",TV,23,6.47,172,"Don Quixote, that infinitely popular character..."
3664,Zumomo to Nupepe,Comedy,TV,32,7.00,120,No synopsis has been added for this series yet...

In [32]:
print(anime_df.shape)
anime_df.head()

(3665, 7)

,name,genre,type,episodes,rating,members,sypnopsis
0,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,"""In order for something to be obtained, someth..."
1,GintamaÂ°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,"Gintoki, Shinpachi, and Kagura return as the f..."
2,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,The self-proclaimed mad scientist Rintarou Oka...
3,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,"fter a one-year hiatus, Shinpachi Shimura retu..."
4,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351,"fter the victory against Aoba Jousai High, Kar..."

# Base de datos de Netflix

In [33]:
netflix = pd.read_csv("netflix_titles.csv")

In [34]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [35]:
netflix["type"].value_counts()

Movie      6131
TV Show    2676
Name: type, dtype: int64

In [36]:
netflix_2 = netflix[netflix["type"].isin(['TV Show'])]

In [37]:
netflix_2["type"].value_counts()

TV Show    2676
Name: type, dtype: int64

In [38]:
nulls_p = (netflix_2.isna().sum()/len(data))*100
nulls_p = nulls_p.reset_index()
nulls_p.columns=["Columna", "Porcentaje"]
nulls_p

         Columna  Porcentaje
0        show_id    0.000000
1           type    0.000000
2          title    0.000000
3       director    1.707409
4           cast    0.244314
5        country    0.272934
6     date_added    0.006980
7   release_year    0.000000
8         rating    0.001396
9       duration    0.000000
10     listed_in    0.000000
11   description    0.000000

In [39]:
netflix_df = netflix_2.drop(["show_id","country","date_added","director","cast","rating","date_added"],axis=1).reset_index(drop=True)
netflix_df = netflix_df.dropna()
nulls_p = (netflix_df.isna().sum()/len(data))*100
nulls_p = nulls_p.reset_index()
nulls_p.columns=["Columna", "Porcentaje"]
nulls_p

        Columna  Porcentaje
0          type         0.0
1         title         0.0
2  release_year         0.0
3      duration         0.0
4     listed_in         0.0
5   description         0.0

In [40]:
duplicados(netflix_df)

Hay 0 filas duplicadas
Ahora hay 0 de filas duplicadas

,type,title,release_year,duration,listed_in,description
0,TV Show,Blood & Water,2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
1,TV Show,Ganglands,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
2,TV Show,Jailbirds New Orleans,2021,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
3,TV Show,Kota Factory,2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
4,TV Show,Midnight Mass,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
...,...,...,...,...,...,...
2671,TV Show,Yu-Gi-Oh! Arc-V,2015,2 Seasons,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...
2672,TV Show,Yunus Emre,2016,2 Seasons,"International TV Shows, TV Dramas","During the Mongol invasions, Yunus Emre leaves..."
2673,TV Show,Zak Storm,2016,3 Seasons,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...
2674,TV Show,Zindagi Gulzar Hai,2012,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre..."
2675,TV Show,Zombie Dumb,2018,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."

In [41]:
print(netflix_df.shape)
netflix_df.head()

(2676, 6)

,type,title,release_year,duration,listed_in,description
0,TV Show,Blood & Water,2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
1,TV Show,Ganglands,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
2,TV Show,Jailbirds New Orleans,2021,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
3,TV Show,Kota Factory,2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
4,TV Show,Midnight Mass,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...

# Base de datos de Amazon Prime Video

In [42]:
amazon = pd.read_csv("amazon_prime_titles.csv")

In [43]:
amazon

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, BeyoncÃ©, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...
9663,s9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaN,1940,7+,60 min,Comedy,New York City street principles get an East Si...
9664,s9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaN,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve..."
9665,s9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaN,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou..."
9666,s9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaN,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ..."
9667,s9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaN,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w..."

In [44]:
amazon["type"].value_counts()

Movie      7814
TV Show    1854
Name: type, dtype: int64

In [45]:
amazon_2 = amazon[amazon["type"].isin(['TV Show'])]
amazon_2["type"].value_counts()

TV Show    1854
Name: type, dtype: int64

In [46]:
amazon_df = amazon_2.drop(["show_id","country","date_added","director","cast","rating","date_added"],axis=1).reset_index(drop=True)
amazon_df = amazon_df.dropna()
nulls_p = (amazon_df.isna().sum()/len(data))*100
nulls_p = nulls_p.reset_index()
nulls_p.columns=["Columna", "Porcentaje"]
nulls_p

        Columna  Porcentaje
0          type         0.0
1         title         0.0
2  release_year         0.0
3      duration         0.0
4     listed_in         0.0
5   description         0.0

In [47]:
duplicados(amazon_df)

Hay 0 filas duplicadas
Ahora hay 0 de filas duplicadas

,type,title,release_year,duration,listed_in,description
0,TV Show,Zoo Babies,2008,1 Season,"Kids, Special Interest",A heart warming and inspiring series that welc...
1,TV Show,ZoÃ« Coombs Marr: Bossy Bottom,2020,1 Season,"Comedy, Talk Show and Variety",ZoÃ« Coombs Marr has been on hiatus. Sort of. F...
2,TV Show,Zoboomafoo,2001,1 Season,Kids,Chris and Martin Kratt bring their enthusiasm ...
3,TV Show,Zo Zo Zombie: Mini-Series,2020,1 Season,"Action, Anime, Comedy","Zo Zo Zombie is our undead hero who, with his ..."
4,TV Show,ZeroZeroZero,2020,1 Season,TV Shows,ZeroZeroZero series follows the journey of a c...
...,...,...,...,...,...,...
1849,TV Show,Glass Room,2019,1 Season,Drama,Geography teacher Elena lives with her husband...
1850,TV Show,DaFUNdamentals Series,2021,1 Season,"Animation, Kids","Learn ""daFundamentals"" through song and fun ch..."
1851,TV Show,Terrahawks,1983,3 Seasons,TV Shows,"This thrilling, action-packed series saw Gerry..."
1852,TV Show,Planet Patrol,2018,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve..."
1853,TV Show,Maradona: Blessed Dream,2021,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ..."

In [48]:
print(amazon_df.shape)
amazon_df.head()

(1854, 6)

,type,title,release_year,duration,listed_in,description
0,TV Show,Zoo Babies,2008,1 Season,"Kids, Special Interest",A heart warming and inspiring series that welc...
1,TV Show,ZoÃ« Coombs Marr: Bossy Bottom,2020,1 Season,"Comedy, Talk Show and Variety",ZoÃ« Coombs Marr has been on hiatus. Sort of. F...
2,TV Show,Zoboomafoo,2001,1 Season,Kids,Chris and Martin Kratt bring their enthusiasm ...
3,TV Show,Zo Zo Zombie: Mini-Series,2020,1 Season,"Action, Anime, Comedy","Zo Zo Zombie is our undead hero who, with his ..."
4,TV Show,ZeroZeroZero,2020,1 Season,TV Shows,ZeroZeroZero series follows the journey of a c...

# Base de datos de Disney Plus

In [49]:
disney = pd.read_csv("disney_plus_titles.csv")

In [50]:
disney

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...
...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom","June 4, 2021",2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...
1446,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada","April 2, 2021",2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...
1447,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States","December 18, 2020",2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum..."
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.

In [51]:
disney["type"].value_counts()

Movie      1052
TV Show     398
Name: type, dtype: int64

In [52]:
disney_2 = disney[disney["type"].isin(["TV Show"])]

In [53]:
disney_2["type"].value_counts()

TV Show    398
Name: type, dtype: int64

In [54]:
disney_df = disney_2.drop(["show_id","country","date_added","director","cast","rating","date_added"],axis=1).reset_index(drop=True)
disney_df = disney_df.dropna()
nulls_p = (disney_df.isna().sum()/len(data))*100
nulls_p = nulls_p.reset_index()
nulls_p.columns=["Columna", "Porcentaje"]
nulls_p

        Columna  Porcentaje
0          type         0.0
1         title         0.0
2  release_year         0.0
3      duration         0.0
4     listed_in         0.0
5   description         0.0

In [55]:
duplicados(disney_df)

Hay 0 filas duplicadas
Ahora hay 0 de filas duplicadas

,type,title,release_year,duration,listed_in,description
0,TV Show,The Beatles: Get Back,2021,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...
1,TV Show,Hawkeye,2021,1 Season,"Action-Adventure, Superhero",Clint Barton/Hawkeye must team up with skilled...
2,TV Show,Port Protection Alaska,2015,2 Seasons,"Docuseries, Reality, Survival",Residents of Port Protection must combat volat...
3,TV Show,Secrets of the Zoo: Tampa,2019,2 Seasons,"Animals & Nature, Docuseries, Family",A day in the life at ZooTampa is anything but ...
4,TV Show,"Dr. Oakley, Yukon Vet",2013,10 Seasons,"Action-Adventure, Animals & Nature, Docuseries","Meet Dr. Michelle Oakley, vet to pretty much e..."
...,...,...,...,...,...,...
393,TV Show,X-Men: Evolution,2000,4 Seasons,"Action-Adventure, Animation, Kids",X-Men: Evolution features the team as teenager...
394,TV Show,Smart Guy,1996,3 Seasons,"Comedy, Coming of Age, Kids",A genius tries to fit in as a high school soph...
395,TV Show,Disney Kirby Buckets,2014,3 Seasons,"Action-Adventure, Comedy, Coming of Age",Welcome to Kirby's world! It's rude and sketchy.
396,TV Show,Disney Mech-X4,2016,2 Seasons,"Action-Adventure, Comedy, Science Fiction",Ryan discovers his ability to control a giant ...
397,TV Show,Imagination Movers,2008,3 Seasons,"Kids, Music","Rock out with the Imagination Movers, Disney J..."

In [56]:
print(disney_df.shape)
disney_df.head()

(398, 6)

,type,title,release_year,duration,listed_in,description
0,TV Show,The Beatles: Get Back,2021,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...
1,TV Show,Hawkeye,2021,1 Season,"Action-Adventure, Superhero",Clint Barton/Hawkeye must team up with skilled...
2,TV Show,Port Protection Alaska,2015,2 Seasons,"Docuseries, Reality, Survival",Residents of Port Protection must combat volat...
3,TV Show,Secrets of the Zoo: Tampa,2019,2 Seasons,"Animals & Nature, Docuseries, Family",A day in the life at ZooTampa is anything but ...
4,TV Show,"Dr. Oakley, Yukon Vet",2013,10 Seasons,"Action-Adventure, Animals & Nature, Docuseries","Meet Dr. Michelle Oakley, vet to pretty much e..."

# Base de datos de Hulu

In [57]:
hulu = pd.read_csv("hulu_titles.csv")

In [58]:
hulu

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",â€‹Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...
...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,TV Show,Star Trek: The Original Series,NaN,NaN,United States,NaN,1966,TV-PG,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...
3069,s3070,TV Show,Star Trek: Voyager,NaN,NaN,United States,NaN,1997,TV-PG,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...
3070,s3071,TV Show,The Fades,NaN,NaN,United Kingdom,NaN,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...
3071,s3072,TV Show,The Twilight Zone,NaN,NaN,United States,NaN,1959,TV-PG,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...
3072,s3073,TV Show,Tokyo Magnitude 8.0,NaN,NaN,Japan,NaN,2009,TV-14,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...

In [59]:
hulu["type"].value_counts()

TV Show    1589
Movie      1484
Name: type, dtype: int64

In [60]:
hulu_2 = hulu[hulu["type"].isin(["TV Show"])]

In [61]:
hulu_2["type"].value_counts()

TV Show    1589
Name: type, dtype: int64

In [62]:
hulu_2

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5,s6,TV Show,The Halloween Candy Magic Pet,NaN,NaN,NaN,"October 22, 2021",2021,NaN,1 Season,"Family, Kids",Join Mila and Morphle on a mystery-filled Hall...
7,s8,TV Show,The Next Thing You Eat,NaN,NaN,NaN,"October 21, 2021",2021,NaN,1 Season,"Cooking & Food, Documentaries, Lifestyle & Cul...",With the unique insights and experience of Ugl...
8,s9,TV Show,Queens,NaN,NaN,NaN,"October 20, 2021",2021,TV-14,1 Season,"Drama, Music",Four women in their 40s reunite for a chance t...
9,s10,TV Show,The Bachelorette,NaN,NaN,United States,"October 20, 2021",2003,TV-14,3 Seasons,"Reality, Romance",ABC's romance reality show lets one lucky lady...
10,s11,TV Show,The Real Queens of Hip-Hop: The Women Who Chan...,NaN,NaN,NaN,"October 19, 2021",2021,NaN,1 Season,"Music, News",The ABC News special explores the inspiring ri...
...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,TV Show,Star Trek: The Original Series,NaN,NaN,United States,NaN,1966,TV-PG,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...
3069,s3070,TV Show,Star Trek: Voyager,NaN,NaN,United States,NaN,1997,TV-PG,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...
3070,s3071,TV Show,The Fades,NaN,NaN,United Kingdom,NaN,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...
3071,s3072,TV Show,The Twilight Zone,NaN,NaN,United States,NaN,1959,TV-PG,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...
3072,s3073,TV Show,Tokyo Magnitude 8.0,NaN,NaN,Japan,NaN,2009,TV-14,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...

In [63]:
nulls_p = (hulu_2.isna().sum()/len(data))*100
nulls_p = nulls_p.reset_index()
nulls_p.columns=["Columna", "Porcentaje"]
nulls_p

         Columna  Porcentaje
0        show_id    0.000000
1           type    0.000000
2          title    0.000000
3       director    1.109188
4           cast    1.109188
5        country    0.439766
6     date_added    0.019545
7   release_year    0.000000
8         rating    0.160549
9       duration    0.000000
10     listed_in    0.000000
11   description    0.000698

In [64]:
hulu_df = hulu_2.drop(["show_id","country","date_added","director","cast","rating","date_added"],axis=1).reset_index(drop=True)
hulu_df = hulu_df.dropna()
nulls_p = (hulu_df.isna().sum()/len(data))*100
nulls_p = nulls_p.reset_index()
nulls_p.columns=["Columna", "Porcentaje"]
nulls_p

        Columna  Porcentaje
0          type         0.0
1         title         0.0
2  release_year         0.0
3      duration         0.0
4     listed_in         0.0
5   description         0.0

In [65]:
duplicados(hulu_df)

Hay 0 filas duplicadas
Ahora hay 0 de filas duplicadas

,type,title,release_year,duration,listed_in,description
0,TV Show,The Halloween Candy Magic Pet,2021,1 Season,"Family, Kids",Join Mila and Morphle on a mystery-filled Hall...
1,TV Show,The Next Thing You Eat,2021,1 Season,"Cooking & Food, Documentaries, Lifestyle & Cul...",With the unique insights and experience of Ugl...
2,TV Show,Queens,2021,1 Season,"Drama, Music",Four women in their 40s reunite for a chance t...
3,TV Show,The Bachelorette,2003,3 Seasons,"Reality, Romance",ABC's romance reality show lets one lucky lady...
4,TV Show,The Real Queens of Hip-Hop: The Women Who Chan...,2021,1 Season,"Music, News",The ABC News special explores the inspiring ri...
...,...,...,...,...,...,...
1584,TV Show,Star Trek: The Original Series,1966,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...
1585,TV Show,Star Trek: Voyager,1997,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...
1586,TV Show,The Fades,2011,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...
1587,TV Show,The Twilight Zone,1959,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...
1588,TV Show,Tokyo Magnitude 8.0,2009,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...

In [66]:
print(hulu_df.shape)
hulu_df.head()

(1588, 6)

,type,title,release_year,duration,listed_in,description
0,TV Show,The Halloween Candy Magic Pet,2021,1 Season,"Family, Kids",Join Mila and Morphle on a mystery-filled Hall...
1,TV Show,The Next Thing You Eat,2021,1 Season,"Cooking & Food, Documentaries, Lifestyle & Cul...",With the unique insights and experience of Ugl...
2,TV Show,Queens,2021,1 Season,"Drama, Music",Four women in their 40s reunite for a chance t...
3,TV Show,The Bachelorette,2003,3 Seasons,"Reality, Romance",ABC's romance reality show lets one lucky lady...
4,TV Show,The Real Queens of Hip-Hop: The Women Who Chan...,2021,1 Season,"Music, News",The ABC News special explores the inspiring ri...

# TRABAJANDO

In [67]:
# anime_df,netflix_df,amazon_df,disney_df,hulu_df

In [68]:
tv_shows_df = pd.concat([netflix_df,amazon_df,disney_df,hulu_df],axis=0).reset_index(drop=True)

In [69]:
duplicados(tv_shows_df)

Hay 0 filas duplicadas
Ahora hay 0 de filas duplicadas

,type,title,release_year,duration,listed_in,description
0,TV Show,Blood & Water,2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
1,TV Show,Ganglands,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
2,TV Show,Jailbirds New Orleans,2021,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
3,TV Show,Kota Factory,2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
4,TV Show,Midnight Mass,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
...,...,...,...,...,...,...
6511,TV Show,Star Trek: The Original Series,1966,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...
6512,TV Show,Star Trek: Voyager,1997,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...
6513,TV Show,The Fades,2011,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...
6514,TV Show,The Twilight Zone,1959,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...
6515,TV Show,Tokyo Magnitude 8.0,2009,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...

In [70]:
print(tv_shows_df.shape)
tv_shows_df.head()

(6516, 6)

,type,title,release_year,duration,listed_in,description
0,TV Show,Blood & Water,2021,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
1,TV Show,Ganglands,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
2,TV Show,Jailbirds New Orleans,2021,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
3,TV Show,Kota Factory,2021,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
4,TV Show,Midnight Mass,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...

In [71]:
print(anime_df.shape)
anime_df.head()

(3665, 7)

,name,genre,type,episodes,rating,members,sypnopsis
0,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,"""In order for something to be obtained, someth..."
1,GintamaÂ°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,"Gintoki, Shinpachi, and Kagura return as the f..."
2,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,The self-proclaimed mad scientist Rintarou Oka...
3,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,"fter a one-year hiatus, Shinpachi Shimura retu..."
4,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351,"fter the victory against Aoba Jousai High, Kar..."

In [72]:
anime_df['genre'] = anime_df['genre'].str.replace(',', '')

In [73]:
tv_shows_df['listed_in'] = tv_shows_df['listed_in'].str.replace(',', '')

In [74]:
anime_df['sypnopsis'] = anime_df['sypnopsis'].str.replace(',', '')
anime_df['sypnopsis'] = anime_df['sypnopsis'].str.replace('"', '')

In [75]:
tv_shows_df['description'] = tv_shows_df['description'].str.replace(',', '')
tv_shows_df['description'] = tv_shows_df['description'].str.replace('"', '')

In [76]:
# Filtrar y mantener solo una fila que contenga "Dragon Ball"

anime_df_2 = anime_df[anime_df['name'].str.contains('Dragon Ball')]

In [77]:
anime_df_2 = anime_df_2[anime_df_2['name'] == 'Dragon Ball'].head(1)

In [78]:
anime_df_2

,name,genre,type,episodes,rating,members,sypnopsis
213,Dragon Ball,Adventure Comedy Fantasy Martial Arts Shounen ...,TV,153,8.16,316102,Gokuu Son is a young boy who lives in the wood...

In [79]:
# Eliminar todas las filas en las que aparezca "Dragon Ball" en la columna 'title'
anime_df_3 = anime_df[~anime_df['name'].str.contains('Dragon Ball')].reset_index(drop=True)

In [80]:
anime_df_3

,name,genre,type,episodes,rating,members,sypnopsis
0,Fullmetal Alchemist: Brotherhood,Action Adventure Drama Fantasy Magic Military ...,TV,64,9.26,793665,In order for something to be obtained somethin...
1,GintamaÂ°,Action Comedy Historical Parody Samurai Sci-Fi...,TV,51,9.25,114262,Gintoki Shinpachi and Kagura return as the fun...
2,Steins;Gate,Sci-Fi Thriller,TV,24,9.17,673572,The self-proclaimed mad scientist Rintarou Oka...
3,Gintama&#039;,Action Comedy Historical Parody Samurai Sci-Fi...,TV,51,9.16,151266,fter a one-year hiatus Shinpachi Shimura retur...
4,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,Comedy Drama School Shounen Sports,TV,10,9.15,93351,fter the victory against Aoba Jousai High Kara...
...,...,...,...,...,...,...,...
3654,Zhan Long Si Qu,Cars Kids,TV,64,4.80,67,Go for Speed is a Chinese anime about Mini 4wd...
3655,Zinba,Action Adventure Comedy Demons Magic Super Power,TV,52,7.17,172,The juvenile Kan from the earth is summoned to...
3656,Zoobles!,Kids,TV,26,5.57,109,The Candy Factory is a place where all Zoobles...
3657,Zukkoke Knight: Don De La Mancha,Adventure Comedy Historical Romance,TV,23,6.47,172,Don Quixote that infinitely popular character ...
3658,Zumomo to Nupepe,Comedy,TV,32,7.00,120,No synopsis has been added for this series yet...

In [81]:
# Uniendo la base en donde solo tengo un Dragon Ball y la que ya no tiene Dragon ball

anime_df_clean = pd.concat([anime_df_2,anime_df_3],axis=0).reset_index(drop=True)

In [82]:
anime_df_clean

,name,genre,type,episodes,rating,members,sypnopsis
0,Dragon Ball,Adventure Comedy Fantasy Martial Arts Shounen ...,TV,153,8.16,316102,Gokuu Son is a young boy who lives in the wood...
1,Fullmetal Alchemist: Brotherhood,Action Adventure Drama Fantasy Magic Military ...,TV,64,9.26,793665,In order for something to be obtained somethin...
2,GintamaÂ°,Action Comedy Historical Parody Samurai Sci-Fi...,TV,51,9.25,114262,Gintoki Shinpachi and Kagura return as the fun...
3,Steins;Gate,Sci-Fi Thriller,TV,24,9.17,673572,The self-proclaimed mad scientist Rintarou Oka...
4,Gintama&#039;,Action Comedy Historical Parody Samurai Sci-Fi...,TV,51,9.16,151266,fter a one-year hiatus Shinpachi Shimura retur...
...,...,...,...,...,...,...,...
3655,Zhan Long Si Qu,Cars Kids,TV,64,4.80,67,Go for Speed is a Chinese anime about Mini 4wd...
3656,Zinba,Action Adventure Comedy Demons Magic Super Power,TV,52,7.17,172,The juvenile Kan from the earth is summoned to...
3657,Zoobles!,Kids,TV,26,5.57,109,The Candy Factory is a place where all Zoobles...
3658,Zukkoke Knight: Don De La Mancha,Adventure Comedy Historical Romance,TV,23,6.47,172,Don Quixote that infinitely popular character ...
3659,Zumomo to Nupepe,Comedy,TV,32,7.00,120,No synopsis has been added for this series yet...

In [83]:
# Filtrar y mantener solo una fila que contenga "Naruto"

anime_df_2 = anime_df[anime_df['name'].str.contains('Naruto')]

In [84]:
anime_df_2 = anime_df_2[anime_df_2['name'] == 'Naruto'].head(2)

In [85]:
anime_df_2

,name,genre,type,episodes,rating,members,sypnopsis
464,Naruto,Action Comedy Martial Arts Shounen Super Power,TV,220,7.81,683297,oments prior to Naruto Uzumaki's birth a huge ...

In [86]:
anime_df_clean = anime_df_clean[~anime_df_clean['name'].str.contains('Naruto')].reset_index(drop=True)

In [87]:
anime_df_clean = pd.concat([anime_df_clean,anime_df_2],axis=0).reset_index(drop=True)

In [88]:
anime_df_clean

,name,genre,type,episodes,rating,members,sypnopsis
0,Dragon Ball,Adventure Comedy Fantasy Martial Arts Shounen ...,TV,153,8.16,316102,Gokuu Son is a young boy who lives in the wood...
1,Fullmetal Alchemist: Brotherhood,Action Adventure Drama Fantasy Magic Military ...,TV,64,9.26,793665,In order for something to be obtained somethin...
2,GintamaÂ°,Action Comedy Historical Parody Samurai Sci-Fi...,TV,51,9.25,114262,Gintoki Shinpachi and Kagura return as the fun...
3,Steins;Gate,Sci-Fi Thriller,TV,24,9.17,673572,The self-proclaimed mad scientist Rintarou Oka...
4,Gintama&#039;,Action Comedy Historical Parody Samurai Sci-Fi...,TV,51,9.16,151266,fter a one-year hiatus Shinpachi Shimura retur...
...,...,...,...,...,...,...,...
3653,Zinba,Action Adventure Comedy Demons Magic Super Power,TV,52,7.17,172,The juvenile Kan from the earth is summoned to...
3654,Zoobles!,Kids,TV,26,5.57,109,The Candy Factory is a place where all Zoobles...
3655,Zukkoke Knight: Don De La Mancha,Adventure Comedy Historical Romance,TV,23,6.47,172,Don Quixote that infinitely popular character ...
3656,Zumomo to Nupepe,Comedy,TV,32,7.00,120,No synopsis has been added for this series yet...
3657,Naruto,Action Comedy Martial Arts Shounen Super Power,TV,220,7.81,683297,oments prior to Naruto Uzumaki's birth a huge ...

# Codigo proporcionado por un canal de youtube
https://www.youtube.com/watch?v=djj5RMN7yLw&list=LL&index=2&t=1476s

In [212]:
from sklearn.feature_extraction.text import TfidfVectorizer
from stop_words import get_stop_words
# Convertir las palabras a numeros y de cuantas veces estan apareciendo
tfidf = TfidfVectorizer(stop_words="english")

# Crear la matriz TF-IDF de el genero de los animes
# TF-IDF: Evaluar la importancia de una palabra en un documento dentro de una colecciÃ³n de documentos
tfidf_matrix_anime_genre = tfidf.fit_transform(anime_df_clean['genre'])

In [95]:
from sklearn.metrics.pairwise import linear_kernel

# Calcular las puntuaciones de similitud de coseno
cosine_sim = linear_kernel(tfidf_matrix_anime_genre,tfidf_matrix_anime_genre)

In [96]:
# Obtener como indice los nombres de los animes

indice = pd.Series(anime_df_clean.index, index=anime_df_clean["name"])
for i in range (len(indice)):
    indice.values[i]=i

In [98]:
def get_recommendations(title, cosine_sim=cosine_sim):
    # Obtener el Ã­ndice de el nombre del anime proporcionada como title
    idx=indice[title]
    
    #Esta lÃ­nea crea una lista de tuplas, donde cada tupla contiene el Ã­ndice de un anime 
    #y su puntuaciÃ³n de similitud coseno con respecto al anime de referencia 
    sim_score=list(enumerate(cosine_sim[idx]))
    
    #Esta lÃ­nea ordena la lista sim_score en orden descendente en funciÃ³n de la puntuaciÃ³n de similitud coseno. 
    sim_score = sorted(sim_score, key=lambda x:x[1], reverse=True)
    
    #Esta lÃ­nea selecciona los elementos de la lista sim_score desde el Ã­ndice x hasta el Ã­ndice x.
    sim_score = sim_score[2:7]
    
    #Se extraen los primeros elementos de cada tupla en sim_score y se almacenan en la lista indices_recom.
    indices_recom = [i[0] for i in sim_score]
    #print(anime_df["name"].iloc[indices_recom])
    
    #Esta lÃ­nea devuelve los nombres de los animes recomendados como un objeto de tipo Series de pandas.
    return anime_df_clean["name"].iloc[indices_recom]

In [99]:
titles_anime_recom = input("Dame el anime a recomendar: ")

Dame el anime a recomendar: Naruto

In [100]:
# Usando la funcion

recom_anime_gen = get_recommendations(titles_anime_recom,cosine_sim)

In [101]:
print(f"Tu seleccionaste: {titles_anime_recom} y tus recomendaciones son: \n{recom_anime_gen} ")

Tu seleccionaste: Naruto y tus recomendaciones son:
923             Rekka no Honoo
1167    Kurokami The Animation
1403              Project ARMS
2689                 Wolverine
132              Dragon Ball Z
Name: name, dtype: object

# Creando el recomendador de animes dando el nombre de una serie

In [102]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

# Cargar los datos del archivo CSV con informaciÃ³n de anime y seroes de television
anime_data = anime_df_clean
tvseries_data = tv_shows_df

In [103]:
anime_data.head()

,name,genre,type,episodes,rating,members,sypnopsis
0,Dragon Ball,Adventure Comedy Fantasy Martial Arts Shounen ...,TV,153,8.16,316102,Gokuu Son is a young boy who lives in the wood...
1,Fullmetal Alchemist: Brotherhood,Action Adventure Drama Fantasy Magic Military ...,TV,64,9.26,793665,In order for something to be obtained somethin...
2,GintamaÂ°,Action Comedy Historical Parody Samurai Sci-Fi...,TV,51,9.25,114262,Gintoki Shinpachi and Kagura return as the fun...
3,Steins;Gate,Sci-Fi Thriller,TV,24,9.17,673572,The self-proclaimed mad scientist Rintarou Oka...
4,Gintama&#039;,Action Comedy Historical Parody Samurai Sci-Fi...,TV,51,9.16,151266,fter a one-year hiatus Shinpachi Shimura retur...

In [104]:
tvseries_data.head()

,type,title,release_year,duration,listed_in,description
0,TV Show,Blood & Water,2021,2 Seasons,International TV Shows TV Dramas TV Mysteries,After crossing paths at a party a Cape Town te...
1,TV Show,Ganglands,2021,1 Season,Crime TV Shows International TV Shows TV Actio...,To protect his family from a powerful drug lor...
2,TV Show,Jailbirds New Orleans,2021,1 Season,Docuseries Reality TV,Feuds flirtations and toilet talk go down amon...
3,TV Show,Kota Factory,2021,2 Seasons,International TV Shows Romantic TV Shows TV Co...,In a city of coaching centers known to train I...
4,TV Show,Midnight Mass,2021,1 Season,TV Dramas TV Horror TV Mysteries,The arrival of a charismatic young priest brin...

In [166]:
tvseries_data = tvseries_data.rename(columns={"title":"name","listed_in":"genre","description":"sypnopsis"})

In [167]:
tvseries_data.head()

,type,name,release_year,duration,genre,sypnopsis
0,TV Show,Blood & Water,2021,2 Seasons,International TV Shows TV Dramas TV Mysteries,After crossing paths at a party a Cape Town te...
1,TV Show,Ganglands,2021,1 Season,Crime TV Shows International TV Shows TV Actio...,To protect his family from a powerful drug lor...
2,TV Show,Jailbirds New Orleans,2021,1 Season,Docuseries Reality TV,Feuds flirtations and toilet talk go down amon...
3,TV Show,Kota Factory,2021,2 Seasons,International TV Shows Romantic TV Shows TV Co...,In a city of coaching centers known to train I...
4,TV Show,Midnight Mass,2021,1 Season,TV Dramas TV Horror TV Mysteries,The arrival of a charismatic young priest brin...

In [210]:
nombre_serie_usuario = input("Ingrese el nombre de una serie de TV: ")

Ingrese el nombre de una serie de TV: Ganglands

In [211]:
nombre_serie_usuario = input("Ingrese el nombre de una serie de TV: ")

title_usuario = tvseries_data[tvseries_data['name'].str.contains(nombre_serie_usuario)].reset_index(drop=True)
title_usuario = title_usuario[title_usuario['name'] == nombre_serie_usuario].head(1)
animes_and_serie = pd.concat([anime_data,title_usuario],axis=0).reset_index(drop=True)

from sklearn.feature_extraction.text import TfidfVectorizer

# Crear la matriz TF-IDF de el genero de los animes
tfidf = TfidfVectorizer(stop_words='english')
animes_and_serie['genre'] = animes_and_serie['genre'].fillna('')  # Rellenar valores nulos
tfidf_matrix_anime = tfidf.fit_transform(animes_and_serie['genre'])

from sklearn.metrics.pairwise import linear_kernel

# Calcular las puntuaciones de similitud de coseno de el genero de los animes
cosine_sim_anime = linear_kernel(tfidf_matrix_anime, tfidf_matrix_anime)


def obtener_recomendaciones(nombre_serie, cosine_sim_anime=cosine_sim_anime, animes_and_serie=animes_and_serie):
    # Obtener el Ã­ndice de la serie de TV proporcionada por el usuario
    indices = pd.Series(animes_and_serie.index, index=animes_and_serie['name']).drop_duplicates()
    idx = indices[nombre_serie]

    # Calcular las puntuaciones de similitud de la serie con todas las demÃ¡s series
    sim_scores = list(enumerate(cosine_sim_anime[idx]))

    # Ordenar las puntuaciones de similitud en orden descendente
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Obtener los Ã­ndices de las 5 series mÃ¡s similares (excluyendo la serie proporcionada por el usuario)
    top_indices = [i[0] for i in sim_scores if i[0] != idx][:10]

    # Obtener los tÃ­tulos de las series recomendadas
    recomendaciones = animes_and_serie['name'].iloc[top_indices]

    return recomendaciones

# Usamos la funcion
recomendaciones = obtener_recomendaciones(nombre_serie_usuario)

# Imprimir las recomendaciones
print(f"\nRecomendaciones de anime relacionadas con '{nombre_serie_usuario}':")
print(recomendaciones)

Ingrese el nombre de una serie de TV: Ganglands

Recomendaciones de anime relacionadas con 'Ganglands':
384                   Michiko to Hatchin
2346               Juusen Battle Monsuno
3296                        Mask Masters
3391                    Origami Warriors
3465    Sabaku no Kaizoku! Captain Kuppa
3310                      Moeru! Oniisan
3332                   Narara Superboard
428                       Akame ga Kill!
683              Tales of Zestiria the X
1708                Seiken no Blacksmith
Name: name, dtype: object

In [213]:
"""anime_data.to_csv('anime_data_clean.csv')
tvseries_data.to_csv('dtvseries_data_clean.csv')"""